:root {
    --color-1: #F7F7F7;
    --color-2: #fdd082;
    --color-3: #854836;
    --color-4: #030303;
}

body {
    margin: 0;
    background-color: var(--color-2);
    text-align: center;
    color: var(--color-3);
}

section {
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
}
button{
    background-color: var(--color-3);
    color: var(--color-1);
    padding: .5rem;
    border-radius: 10px;
}
.flex-end{
    display: flex;
    justify-content: right;
}

.grid-wrap {
    max-width: 700px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.grid-1{
background-color: var(--color-1);
padding: 20px;
border-radius: 10px;
}
.img-contain{
width: 150px;
height: 150px;
border-radius: 10px;

}
.flex-price{
    display: flex;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}
@media (min-width: 100px) and (max-width: 576px) {
    h1{
        font-size: 1.8rem;
    }
    .grid-wrap {
        max-width: 700px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}