<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <footer>
        <section>
            <div class="contains">
                <div class="logo-wrap">
                    <img src="/public/logo.png" alt="" class="logo" />
                    <div class="flex-img">
                        <img src="/public//facebook.svg" alt="facebook" />
                        <img src="/public//instagram.svg" alt="instagram" />
                        <img src="/public//linkedin.svg" alt="linkedin" />

                    </div>
                </div>

                <div class="footer-grid-wrap">
                    <div>
                        <h3>Company</h3>
                        <div class="half"></div>
                        <div class="list">
                            <a href="">Home</a>
                            <a href="">Contact us</a>
                            <a href="">About us</a>
                            <a href="">Get started</a>
                        </div>
                    </div>
                    <div class="">
                        <h3>Company</h3>
                        <div class="list">
                            <a href="">Home</a>
                            <a href="">Contact us</a>
                            <a href="">About us</a>
                            <a href="">Get started</a>
                        </div>
                    </div>
                    <div class="">
                        <h3>Company</h3>
                        <div class="list">
                            <a href="">Home</a>
                            <a href="">Contact us</a>
                            <a href="">About us</a>
                            <a href="">Get started</a>
                        </div>
                    </div>
                    <div class="">
                        <h3>Company</h3>
                        <div class="list">
                            <a href="">Home</a>
                            <a href="">Contact us</a>
                            <a href="">About us</a>
                            <a href="">Get started</a>
                        </div>
                    </div>
                    <div class="">
                        <h3>Subscribe</h3>
                        <form class="list-form">
                            <input placeholder="Email" type="email" required name="email" id="email" />
                            <button>Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="copyright">
                    <p>Copyright@2025 All right reserved</p>
                    <a href="">Terms and condition</a>
                </div>
            </div>
        </section>
    </footer>
</body>

</html>